@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/Components/Tetris.scss */
.tetris-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tetris-container h1 {
  margin-bottom: 1rem;
}

.game-info {
  margin-bottom: 1rem;
}
.game-board{
  border-spacing: 0;
}
.tetris-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.held-piece-container, .piece-queue-container {
  margin: 0 1rem;
}

.held-piece-container .piece-view,
.piece-queue-container .piece-view {
  border-spacing: 0;
  padding: 10px;
  border-radius: 10px;
}
.held-piece-container{
  margin-bottom: 415px;

}
.piece-queue-container{
  margin-top: 85px;
  size:10%;
}
.game-over {
  margin-top: 1rem;
}

.game-block {
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #ddd;
}

.piece-i {
  background-color: #ec858b;
}

.piece-j {
  background-color: #f1b598;
}

.piece-l {
  background-color: #f8efae;
}

.piece-o {
  background-color: #b5a677;
}

.piece-s {
  background-color: #816e56;
}

.piece-t {
  background-color: #b77c72;
}

.piece-z {
  background-color: #e3be58;
}

.piece-preview {
  background-color: #eee;
}
.points{
  position:absolute;
  top:225px;
  display:flex;
  justify-content: space-between;
  width: 500px;
  padding-right: 75px;
}
.points > div {
  text-align: center;
}

.points p {
  margin: 0;
  font-family: monospace;
  font-size: 24px;
}

.controls{
  position: relative;
  text-align: left;
  right: 550px;
  top:150px;
}